<div class="container-fluid">
    <h1>My Latest Dives (AngularJS)</h1>
    <div class="row">
        <div class="col-sm-5">
            <button class="btn btn-primary btn-lg" (click)="addDive()" [disabled]="!enableAdd()">
              Add new dive
            </button>
            <button class="btn btn-danger btn-lg" (click)="clearDives()">
              Clear dives
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" *ngFor="let dive of dives">
            <h3>{{dive.site}}</h3>
            <h4>{{dive.location}}</h4>
            <h2>{{dive.depth}} feet | {{dive.time}} min</h2>
        </div>
    </div>
</div>
